/* Initialisation du responsive mobile! */ 
@media screen and (max-width: 721px) {

    nav {
        font-size: 1.5em;
    
    }
    
    #alt-titreHide{
        background-color: #6cb5fa;
        border-radius: 15px;
    }
    
    #menu-deroulant, #menu-deroulant ul{
        padding:0;
        list-style:none;
        text-align:center;
    }
    #menu-deroulant li{
        display:inline-block;
        position:relative;
        border-radius: 10px;
    }
    #menu-deroulant ul li{
        display: inherit;
        border-radius: 0;
        background-color: grey;
    }
    #menu-deroulant ul li:first-child {
        border-radius: 10px 10px 0 0;  
    }
    #menu-deroulant ul li:last-child {
        border-radius: 0 0 10px 10px;
    }
    #menu-deroulant ul{
        position: absolute;
        z-index: 1000;
        max-height: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        -moz-transition: .8s all .3s;
        -webkit-transition: .8s all .3s;
        transition: .8s all .3s;
        letter-spacing: 5px;
        
    }
    #menu-deroulant li:hover ul{
        max-height: 15em;
    }
    #menu-deroulant a{
        text-decoration:none;
        display:block;
        padding:8px 32px;
        color: black;
        letter-spacing: 0.1em;
    
    }
    #menu-deroulant ul a{
        padding:8px 0;
    }
    h1 {
        display: none;
    }
    section {
        border: 1px solid gray;
        border-radius: 25px;
        box-shadow:  10px 10px 20px 0px gray;
        margin-bottom: 5%;
        margin-right: 5%;
        margin-left: 5%;
    }
    h2 {
        margin-left: 2%;
        margin-bottom: 0px;
    }
    }