/* Initialisation du responsive mobile! */ 
@media screen and (max-width: 721px) {

#photo {
    border-radius: 25px;
    box-shadow:  10px 10px 10px 0px gray;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 32px;
    margin-bottom: 32px;
}
/* les liens cliquables pour naviguer dans le site */ 
.boutons {
    background-image:linear-gradient(to bottom, #94c8f8, #b1d5f7);
    border-radius: 15px;
    box-shadow:  10px 10px 10px 0px gray;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    

}

h2 {
    margin-bottom: 7px;
    margin-top: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* en mobile on veux pas de ces commentaires pour les boutons */ 
main p {
    display: none;
}

}

